.customer {
  background-color: var(--accent-color2);
}

.customer__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.customer__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}
.customer__link {
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  transition: color var(--general-transition-duration)
      var(--transition-timing-function),
    border var(--general-transition-duration) var(--transition-timing-function);
  &:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color2);
  }
  &:hover .customer__icon {
    fill: var(--accent-color);
    transition: fill var(--general-transition-duration)
      var(--transition-timing-function);
  }
  // @media screen and (min-width: 768px) {
  //   width: 226px;
  // }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.customer__icon {
  margin: 16px 32px;
  fill: #afb1b8;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
