.features__box {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  // margin-bottom: 30px;
}
.features__box:not(:last-child) {
  margin-bottom: 30px;
}

.features__set:not(:first-child) {
  margin-top: 30px;
}

.features__title {
  text-align: center;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

/*---ПЛАНШЕТИНЙ ІНТЕРФЕЙС 768---*/

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .features__set {
    padding: 0px;
    flex-basis: calc((100% - 30px) / 2);
  }

  .features__set:not(:first-child) {
    margin-top: 0px;
  }

  .features__title {
    text-align: left;
  }
}

/*---ДЕСКТОПНИЙ ІНТЕРФЕЙС---*/

@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }

  .features__set {
    padding: 0px;
    flex-basis: calc((100% - 90px) / 4);
  }
}
