.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  // max-width: 1600px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img-mob@1.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-img-mob@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/hero-img-tablet@1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-img-tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/hero-img-comp@1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-img-comp@2x.jpg);
    }
  }
}

.hero__title {
  @media screen and (min-width: 480px) {
    font-size: 26px;
    // font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--accent-color2);
    margin: 0;
    // padding-top: 200px;
    // padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
.hero__button {
  @media screen and (min-width: 480px) {
    display: inline-block;
    min-width: 200px;
    color: var(--accent-color2);
    background-color: var(--accent-color);
    line-height: 1.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    padding-top: 10px 24px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 216px;
    margin-top: 40px;
    padding: 10px 32px;
  }
}
