html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: var(--accent-color2);
  color: var(--primary-title-color);
}
.container {
  width: 480px;
  // width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}
