:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color2: #ffffff;
  --secondary-background-color: #f5f5f5;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --general-transition-duration: 250ms;
}

// $main-color: #757575;
// $title-color: #212121;
// $accent-color: #2196f3;
// $secondary-color: #ffffff;
// $bg-color-dark: #2f303a;
// $bg-color-light: #f5f4fa;
// $main-font: "Roboto", sans-serif;
// $secondary-font: "Raleway", sans-serif;
